@media (min-height:1921px) {
  #footer {
    height: 2.5vh;
    width: 100%;
    min-height: 32px;
    background: #212529;
    color: white;
    white-space: nowrap;
    position: unset;
    box-sizing: unset;
  }
}
