<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link th:href="@{/css/pages/detailPage/id.css}" rel="stylesheet">
    <link th:href="@{/css/pages/detailPage/class.css}" rel="stylesheet">
    <link th:href="@{/css/pages/detailPage/mobile.css}" rel="stylesheet">
    <link th:href="@{/css/slickCustom.css}" rel="stylesheet">
</head>

<main layout:fragment="content">

    <div id="detailPageBackground">
        <div id="detailPageSection">
            <h1 class="title">
                프로젝트 상세페이지
            </h1>
            <!--슬릭같은 라이브러리 이용해서 사진 슬라이드 구현-->

        <div class="your-class">
            <div><img th:src="@{/img/projectImage/footballCom/footballComIndex.png}">메인 페이지</div>
            <div><img th:src="@{/img/projectImage/footballCom/footballComWrite.png}">글 쓰기 페이지</div>
        </div>

        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                주제
            </div>
            <div class="col">
                축구 커뮤니티 제작
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                상세 설명
            </div>
            <div class="col">
                평소 즐겨보던 인스타그램 축구 페이지의 관리자분과 연이 닿아 제작한 축구 커뮤니티.<br>
                이미지 위주의 메인 게시판과 함께 프로토 타입을 제작하였으나, 기획 단계에서 진행 잠정 중단.
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                주요 기능
            </div>
            <div class="col">
                <ol style="padding-left: 1rem;margin-bottom:0px;">
                    <li>최신 게시글의 핵심 이미지들을 선택적으로 메인 페이지에 썸네일로 올릴 수 있도록 로직 구현
                    <li>이미지를 많이 다루는 게시판 특성 상, 다양한 형식으로 글을 쓸 수 있게 'CK에디터'라는 위지윅 에디터 구현
                    <li>스프링 내부에 구현 되어있는 인터페이스를 통해, 파일&이미지 업로드 구현
                    <li>MyBatis의 조건절과 타임리프의 'classappend'구문으로 검색 및 카테고리 탭 구현
                    <li>SQL에 있는 ORDER BY / LIMIT 등의 구문을 이용해 게시글의 이전 글과 다음 글을 읽어내는 로직 구현
                    <li>SQL의 UPDATE 구문을 이용해 게시글 조회수를 구현, 스프링 시큐리티 구현 후, 추천 및 인기글도 추가 예정
<!--                        1. CK에디터/스프링 인터페이스를 통한 파일 업로드 구현<br>-->
<!--                        2. myBatis의 조건절을 통한 검색 기능/카테고리 탭 구현<br>-->
<!--                        3. 최신 게시물의 이미지가 메인 페이지에 등록되도록 구현-->
                        <!-- ck 에디터 활용, 검색기능 구현, 카테고리 탭 구현, 조회수 구현, 이미지 업로드 구현-->
                </ol>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                사용 기술
            </div>
            <div class="col">
                <ul style="padding-left: 1rem;margin-bottom:0px;">
                    <li>Front-end : HTML / CSS / Javascript / JQuery / Bootstrap / Thymeleaf
                    <li>Back-end : Spring Boot / MyBatis
                    <li>Others : MySQL / MariaDB / IntelliJ / VSC
                </ul>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                개발 기간
            </div>
            <div class="col">
                <p>
                    1차 구현 - 이미지 위주의 메인 게시판 구현<br>
                    : 2022년 1월 26일 ~ 2022년 1월 31일 ( 총 5일 소요, 진행 잠정 중단 )
                </p>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                개발 인원
            </div>
            <div class="col">
                1인
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                깃허브
            </div>
            <div class="col">
                <a href="https://github.com/MinJa-e/footballCheck">github.com/MinJa-e/footballCheck</a>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                링크
            </div>
            <div class="col">
                <a href="http://leeniesta.cafe24.com/footballCom">leeniesta.cafe24.com/footballCom</a>

            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                느낀 점
            </div>
            <div class="col">
                <ol style="padding-left: 1rem;margin-bottom:0px;">
                    <li>보편적인 형태가 아닌 게시판( = 사용 이미지를 선택적으로 메인 페이지에 노출)을 주문 받아 구현이 어려웠었는데, 로직을 스스로 구현하면서 사용 언어들의 응용력이 향상 되었음.
                    <li>카테고리/검색과 같은 기능으로 게시판을 읽어오는 로직의 다양화가 필요 했는데, 이 과정 속에서 MyBatis 및 SQL에 대한 이해도가 향상 되었음
                    <li>기능 구현 중, 반복되는 코드가 자주 등장 했는데 배열이나 반복문 등을 이용한 코드 효율화의 중요성을 꺠닫게 됨
                </ol>
            </div>
        </div>

        </div>
    </div>
</main>

</html>
<div th:replace="fragments/after :: upBtn"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
      $('.your-class').slick({
speed: 300,
  adaptiveHeight: true,
  autoplay: true,
  autoplaySpeed: 2000,
  cssEase: 'linear',
  prevArrow : "<button type='button' class='slick-prev slick-arrow'><</button>",		// 이전 화살표 모양 설정
  nextArrow : "<button type='button' class='slick-next slick-arrow'>></button>",		// 다음 화살표 모양 설정
});
    </script>

<script type="text/javascript">
$('.your-class').slick();
    </script>