<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link th:href="@{/css/pages/detailPage/id.css}" rel="stylesheet">
    <link th:href="@{/css/pages/detailPage/class.css}" rel="stylesheet">
    <link th:href="@{/css/pages/detailPage/mobile.css}" rel="stylesheet">
    <link th:href="@{/css/slickCustom.css}" rel="stylesheet">
</head>

<main layout:fragment="content">

    <div id="detailPageBackground">
        <div id="detailPageSection">
            <h1 class="title">
                프로젝트 상세페이지
            </h1>
            <!--슬릭같은 라이브러리 이용해서 사진 슬라이드 구현-->

        <div class="your-class">
            <div><img th:src="@{/img/projectImage/plzIceCream/plzIceCreamMain.png}">후원 메인 페이지</div>
            <div><img th:src="@{/img/projectImage/plzIceCream/plzIceCreamPayment.png}">결제 창</div>
        </div>

        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                주제
            </div>
            <div class="col">
                아이스크림 후원 페이지
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                상세 설명
            </div>
            <div class="col">
                'Buy me a coffee'와 '도네리카노'라는 후원 플랫폼에 영감을 받아 제작.<br>
                결제 API와 JPA를 응용해보기 위한 목적으로 기획했으며, 밈으로 이용되는 이미지를 삽입해 친근함을 주었음.
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                주요 기능
            </div>
            <div class="col">
                <ol style="padding-left: 1rem;margin-bottom:0px;">
                    <li>후원 내용 작성 및 확인 기능을 위한 JPA 활용
                    <li>아임포트의 API를 이용해 결제 기능 도입
                </ol>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                사용 기술
            </div>
            <div class="col">
                <ul style="padding-left: 1rem;margin-bottom:0px;">
                    <li>Front-end : HTML / CSS / JS /  부트스트랩
                    <li>Back-end : 스프링부트 / JPA
                    <li>Others : MariaDB / IntelliJ / VSC
                </ul>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                개발 기간
            </div>
            <div class="col">
                <p>
                    개발 진행중
                </p>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                개발 인원
            </div>
            <div class="col">
                1인
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                깃허브
            </div>
            <div class="col">
                <a href="https://github.com/MinJa-e/plzIceCream">github.com/MinJa-e/plzIceCream</a>
            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                링크
            </div>
            <div class="col">
                <span>이용 중인 호스팅 서비스의 JVM 메모리 부족으로 에러가 발생해, 해당 프로젝트의 호스팅은 잠시 보류중</span>

            </div>
        </div>
        <div class="row"><!--컬럼 하나-->
            <div class="col-2">
                느낀 점
            </div>
            <div class="col">
                <ol style="padding-left: 1rem;margin-bottom:0px;">
                    <li>관리자 입장에서 결제가 이루어지는 과정을 볼 수 있어, 결제 서비스에 대한 이해도가 향상 되었음.
                    <li>JPA를 프로젝트에 처음 실사용 해보면서, 객체지향적인 ORM의 특징에 대해 알게 되었음.
                </ol>
            </div>
        </div>

        </div>
    </div>
</main>

</html>
<div th:replace="fragments/after :: upBtn"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
      $('.your-class').slick({
speed: 300,
  adaptiveHeight: true,
  autoplay: true,
  autoplaySpeed: 2000,
  cssEase: 'linear',
  prevArrow : "<button type='button' class='slick-prev slick-arrow'><</button>",		// 이전 화살표 모양 설정
  nextArrow : "<button type='button' class='slick-next slick-arrow'>></button>",		// 다음 화살표 모양 설정
});
    </script>

<script type="text/javascript">
$('.your-class').slick();
    </script>