<div th:fragment="login">
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-size-4" id="exampleModalToggleLabel" style="font-weight: bold;">로그인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/api/members/login" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="login_id" class="form-label">아이디</label>
                        <input type="text" class="form-control" name="id" id="login_id" aria-describedby="emailHelp" required>
<!--                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                    </div>
                    <div class="mb-1">
                        <label for="login_password" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" name="password" id="login_password" required>
                    </div>
                    <div class="p-0 mt-3 mb-0 form-check d-flex justify-content-between">
                        <a data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"
                           style="
                        cursor: pointer;
    text-decoration: underline;"
                        >간단 가입</a>
<!--                        <div>-->
<!--                            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                            <label class="form-check-label" for="exampleCheck1">아이디 기억하기</label>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">취소</button>
                    <input type="submit" class="btn btn-primary" value="로그인"/>
                </div>
                </form>
            </div>
        </div>
    </div>






    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-size-4" id="exampleModalToggleLabel2" style="font-weight: bold;">회원가입</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/api/members/join" method="post">
                <div class="modal-body">


                    <div class="mb-3">
                        <label for="join_id" class="form-label">아이디</label>
                        <input type="text" class="form-control font-size-6" name="id" id="join_id" aria-describedby="idHelp" placeholder="영어, 숫자 조합 6자 이상" required>
<!--                                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                    </div>
                    <div class="mb-3">
                        <label for="join_password" class="form-label">비밀번호</label>
                        <input type="password" class="form-control font-size-6" name="password" id="join_password" placeholder="4자 이상" required>
                    </div>
                    <div class="mb-3">
                        <label for="join_passwordCheck" class="form-label">비밀번호 확인</label>
                        <input type="password" class="form-control font-size-6" name="passwordCheck" id="join_passwordCheck" placeholder="4자 이상" required>
                    </div>
                    <div class="mb-3">
                        <label for="join_nickname" class="form-label">닉네임</label>
                        <input type="text" class="form-control font-size-6" name="nickname" id="join_nickname" placeholder="중복 불가" required>
                    </div>

                    <div class="p-0 mb-0 form-check d-flex justify-content-between">
                        <a data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal"
                           style="
                        cursor: pointer;
    text-decoration: underline;"
                        >뒤로</a>
                        <!--                        <div>-->
                        <!--                            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
                        <!--                            <label class="form-check-label" for="exampleCheck1">아이디 기억하기</label>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">취소</button>
                    <input type="submit" class="btn btn-primary" value="가입"/>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--로그인 버튼은 밑의 형식처럼 만들기-->
<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>