<div th:fragment="memberUpdate" class="modal fade" id="modalMemberUpdate" tabindex="-1" aria-labelledby="modalMemberUpdate" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">회원 정보 수정</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="/api/members/update/nickname" method="get">
                    <div class="mb-3">
                        <label for="memberUpdate_nickname" class="form-label">닉네임</label>
                        <input type="text" class="form-control" name="nickname" id="memberUpdate_nickname" placeholder="1~6자, 중복 불가">
                        <input th:value="${session.login.id}" type="hidden" class="form-control" name="id" id="memberUpdateNickname_id" >
                    </div>
                    <div class="row justify-content-end">
                        <input class="col-auto me-3 btn btn-primary" type="submit" value="변경">
                    </div>
                </form>

<!--                <hr>-->
    <form action="/api/members/update/pwd" method="get">
                    <div class="my-4 mb-3">
                        <label for="memberUpdate_pwd" class="form-label">비밀번호</label>
                        <input type="text" class="form-control" name="pwd" id="memberUpdate_pwd" placeholder="">
                        <input th:value="${session.login.id}" type="hidden" class="form-control" name="id" id="memberUpdatePwd_id" >
                    </div>
                    <div class="mb-3">
                        <label for="memberUpdate_pwdCheck" class="form-label">비밀번호 확인</label>
                        <input type="text" class="form-control" name="pwdCheck" id="memberUpdate_pwdCheck" placeholder="">
                    </div>
                    <div class="row justify-content-end">
                        <input class="col-auto me-3 btn btn-primary" onsubmit="return submitPwdCheck()" type="submit" value="변경">
                        <script>
                            function submitPwdCheck(){

                                  if( document.getElementById('memberUpdate_pwd').value != document.getElementById('memberUpdate_pwdCheck').value ) {
                                    alert("비밀번호가 일치 하지 않습니다");
                                    return false;
                                  }
                            }
                        </script>
                    </div>
    </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>