<div class="padding-section" id="contact" th:fragment="Contact">
        <h1 class="title" style="font-family: 'Black Han Sans','Noto Sans KR', sans-serif;">
                Contact
        </h1>
        <div class="justify-content-center" style="min-width:0px;max-width:400px;margin:0 auto;">
                <!--1-->
                <div class="row justify-content-center">
                        <div class="col-auto text-end">
                                <a href="https://www.instagram.com/minjae._.95/">
                                        <i class="bi bi-instagram"></i>
                                </a>
                        </div>
                        <div class="col-auto text-start">
                                <a type="button" class="btn btn-sm btn-mj fw-bold" href="https://open.kakao.com/o/sJTVzVQd">링크로 이동</a>
                        </div>
                </div>
                <!--3-->
                <div class="row justify-content-center">
                        <div class="col-auto text-end">
                                <a href="https://github.com/codeInJ">
                                <i class="bi bi-github contactIcon"></i>
                                </a>
                        </div>
                        <div class="col-auto text-start">
                                <a type="button" class="btn btn-sm btn-mj fw-bold" href="https://github.com/codeInJ">링크로 이동</a>
                        </div>
                </div>
                <!--4-->
                <div class="row justify-content-center">
                        <div class="col-auto text-end">
                                <a href="https://github.com/codeInJ">
                                <img th:src="@{/img/headerContact/tistory.svg}"/>
                                </a>
                        </div>
                        <div class="col-auto text-start">
                                <a type="button" class="btn btn-sm btn-mj fw-bold" href="https://open.kakao.com/o/sJTVzVQd">링크로 이동</a>
                        </div>
                </div>
                <!--2-->
                <div class="row justify-content-center">
                        <div class="col-auto text-end">
                                <a href="https://open.kakao.com/o/sJTVzVQd">
                                <img th:src="@{/img/headerContact/kakao.png}"/>
                                </a>
                        </div>
                        <div class="col-auto text-start">
                                <a type="button" class="btn btn-sm btn-warning fw-bold" href="https://open.kakao.com/o/sJTVzVQd">오픈 채팅 연결</a>
                        </div>
                </div>
        </div>
</div>