<div class="padding-section" id="contact" th:fragment="Contact">
        <h1 class="title" style="font-family: 'Black Han Sans','Noto Sans KR', sans-serif;">
                Contact
        </h1>
        <div class="justify-content-center" style="min-width:0px;max-width:400px;margin:0 auto;">
                <!--1-->
                <div class="row justify-content-center">
                        <div class="col-2 text-end">
                                <a href="https://www.instagram.com/minjae._.95/">
                                        <i class="bi bi-instagram"></i>
                                </a>
                        </div>
                        <div class="col-6 text-start">
                                <h4>@minjae._.95</h4>
                        </div>
                </div>
                <!--3-->
                <div class="row justify-content-center">
                        <div class="col-2 text-end">
                                <i style="font-size:1.75rem;" class="bi bi-github contactIcon"></i>
                        </div>
                        <div class="col-6 text-start">
                                <h4>@minjae._.95</h4>
                        </div>
                </div>
                <!--4-->
                <div class="row justify-content-center">
                        <div class="col-2 text-end">
                                <img src="@/assets/headerContact/tistory.svg" class="contactIcon"/>
                        </div>
                        <div class="col-6 text-start">
                                <h4>@minjae._.95</h4>
                        </div>
                </div>
                <!--2-->
                <div class="row justify-content-center">
                        <div class="col-2 text-end">
                                <img src="@/assets/headerContact/kakao.png" class="contactIcon"/>
                        </div>
                        <div class="col-6 text-start">
                                <b-button variant="warning" href="https://open.kakao.com/o/sJTVzVQd">오픈 채팅으로 연결</b-button>
                        </div>
                </div>
        </div>
</div>