<div class="padding-section" id="skills" th:fragment="Skills">

                <h1 class="title">
                        Skills
                </h1>

                <!--팝오버로 설명 삽입하기-->
                <div class="row portfolio-width">

                        <div class="collapseAll">
                                <button class="btn btn-light collapseHead" type="button" data-bs-toggle="collapse" data-bs-target="#skillsFrontend" aria-expanded="true" aria-controls="collapseExample">
                                        Front-end
                                </button>
                                <div class="collapse show collapseBody" id="skillsFrontend">
                                        <div class="card card-body">
                                                <img th:src="@{/img/skills/html.png}" class="skillsIcon"/>
                                                <img th:src="@{/img/skills/css.png}" class="skillsIcon"/>
                                                <img th:src="@{/img/skills/js.png}" class="skillsIcon"/>
                                                <img th:src="@{/img/skills/bootstrap.png}" class="skillsIcon"/>
                                        </div>
                                </div>
                        </div>

                        <div class="collapseAll">
                                <button class="btn btn-light collapseHead" type="button" data-bs-toggle="collapse" data-bs-target="#skillsBackend" aria-expanded="true" aria-controls="collapseExample">
                                        Back-end
                                </button>
                                <div class="collapse show collapseBody" id="skillsBackend">
                                        <div class="card card-body">
                                                <img th:src="@{/img/skills/java.png}" class="skillsIcon"/>
                                                <img th:src="@{/img/skills/springBoot.png}" class="skillsIcon"/>
                                        </div>
                                </div>
                        </div>

                        <div class="collapseAll">
                                <button class="btn btn-light collapseHead" type="button" data-bs-toggle="collapse" data-bs-target="#skillsOthers" aria-expanded="true" aria-controls="collapseExample">
                                        Others
                                </button>
                                <div  class="collapse show collapseBody" id="skillsOthers">
                                        <div class="card card-body">
                                                <img th:src="@{/img/skills/mysql.png}" class="skillsIcon"/>
                                                <img th:src="@{/img/skills/oracle.png}" class="skillsIcon"/>
                                                <img th:src="@{/img/skills/git.png}" class="skillsIcon"/>
                                                <img th:src="@{/img/skills/github.png}" class="skillsIcon"/>
                                        </div>
                                </div>
                        </div>

                        <div class="collapseAll">
                                <button class="btn btn-light collapseHead" type="button" data-bs-toggle="collapse" data-bs-target="#skillsInteresting" aria-expanded="true" aria-controls="collapseExample">
                                        Interesting
                                </button>
                                <div class="collapse show collapseBody" id="skillsInteresting">
                                        <div class="card card-body">
                                                <img th:src="@{/img/skills/vue.png}" class="skillsIcon"/>
                                        </div>
                                </div>
                        </div>

                </div>
</div>