<div class="padding-section" id="skills" th:fragment="Skills">
  <h1 class="title" style="margin-bottom:0!important;">Skills
  </h1>
  <div class="title-sub">
    ※ 아이콘에 마우스를 올리시면 부가 설명을 보실 수 있습니다 :)
  </div>

  <!--팝오버로 설명 삽입하기-->
  <div class="row portfolio-width">
    <div class="collapseAll" style="margin-top:0!important">
      <button
        class="btn btn-light collapseHead"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#skillsFrontend"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        Front-end
      </button>
      <div class="collapse show collapseBody" id="skillsFrontend">
        <div class="card card-body">
            <img th:src="@{/img/skills/html.png}" class="skillsIcon popover popover-element"
          tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="HTML" data-bs-content="
주요 태그들을 모두 숙지하고 있으며, SEO에 최적화된 구조 설계에 대한 관심이 많음. 또한, 가독성 좋은 코드 설계를 지향하고 있음.
"/>
          <img th:src="@{/img/skills/css.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="CSS" data-bs-content="
디스플레이/포지션 등 레이아웃 및 화면 구현을 위한 기본적인 개념들을 숙지하고 있음. 또한, 미디어쿼리를 이용하여 반응형 웹을 제작 할 수 있으며 선택자, 종속 변수를 이용해 재사용성이 있는 CSS를 설계 할 수 있음.
"/>
          <img th:src="@{/img/skills/js.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="자바스크립트" data-bs-content="
선택자/변수 등을 활용하여 간단한 동적 요소(팝업,드롭다운 등)를 개발할 수 있으며, AJAX를 이용한 비동기 통신을 이용하여 프로젝트를 진행한 경험이 있음.
제이쿼리, 슬릭 등 외부 라이브러리도 간단한 사용 경험有
"/>
          <img th:src="@{/img/skills/bootstrap.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="부트스트랩" data-bs-content="
팀 프로젝트 및 포트폴리오 블로그 제작 시 활용했음. 그리드/컴포넌트 등 필수적인 기능은 거의 숙지하고 있으며 커스텀도 가능하나, Sass 변수를 이용한 재정의 기술은 미흡."/>
        </div>
      </div>
    </div>

    <div class="collapseAll">
      <button
        class="btn btn-light collapseHead"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#skillsBackend"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        Back-end
      </button>
      <div class="collapse show collapseBody" id="skillsBackend">
        <div class="card card-body">
          <img th:src="@{/img/skills/java.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="자바" data-bs-content="
객체 지향 개발의 개념 및 목적을 이해하고 있으며 형변환/제네릭/오버라이딩 등 자바의 기본적인 개념도 모두 숙지하고 있음. 또한, JVM과 가비지 콜렉터를 통해 컴파일이 진행되는 원리도 이해하고 있음.
"/>
          <img th:src="@{/img/skills/springBoot.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="스프링부트" data-bs-content="
제어 역전/의존성 주입 등 스프링의 특징을 파악하고 있으며, 웹 계층의 구조와 각 계층에 사용되는 하위 어노테이션들의 종류와 용도에 대해 파악하고 있음. 또한, 타임리프와 같은 템플릿 엔진 사용 경험 有
"/>
          <img th:src="@{/img/skills/mybatis.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="MyBatis" data-bs-content="
맵퍼의 클래스 파일과 xml 파일 간에 데이터 전달에 필요한 원리와 태그들을 이해하고 있음. 또한, 쿼리 내 조건문이나 CDATA 등 XML의 부가적인 기능도 숙지하고 있음.
"/>
        </div>
      </div>
    </div>

    <div class="collapseAll">
      <button
        class="btn btn-light collapseHead"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#skillsOthers"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        Others
      </button>
      <div class="collapse show collapseBody" id="skillsOthers">
        <div class="card card-body">
          <img th:src="@{/img/skills/mysql.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="mySQL" data-bs-content="
다수의 프로젝트에 mySQL및 mariaDB를 이용하여, 실 사용 경험이 많음. 또한, SQLD 자격증을 취득하여 데이터베이스에 대한 전반적인 이해도를 가지고 있음."/>
          <img th:src="@{/img/skills/oracle.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="오라클" data-bs-content="
부산권에서 유일하게 오라클 공인 기관인 곳에서 교육을 받아, 해당 DBMS에 대한 이해도가 있으며 다른 데이터베이스와의 차이 또한 숙지하고 있음."/>
          <img th:src="@{/img/skills/git.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="깃" data-bs-content="
커밋/푸시/풀/페치 등 각 기능들의 개념과 차이를 이해하고 있으며, 다수의 브랜치와 권한이 나뉜 팀 프로젝트에서 깃허브를 이용한 경험으로 풀 리퀘스트 등 협업에 필요한 기능들도 숙지하고 있음.
"/>
        </div>
      </div>
    </div>

    <div class="collapseAll">
      <button
        class="btn btn-light collapseHead"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#skillsInteresting"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        Interesting
      </button>
      <div class="collapse show collapseBody" id="skillsInteresting">
        <div class="card card-body">
          <img th:src="@{/img/skills/vue.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="뷰" data-bs-content="
               프론트엔드의 개발 프로세스 파악 및 개인 프로젝트 제작 시에 완성도 향상을 위해 공부했었음.
               컴포넌트 및 라우터 등 기초적인 개념은 알고 있으나, 백엔드와의 연동이 어려워 프로젝트 제작 시 사용은 보류중."/>
          <img th:src="@{/img/skills/jpa.png}" class="skillsIcon popover popover-element"
               tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="JPA" data-bs-content="
객체 지향적인 ORM/성능 개선/유지보수 등의 장점에 흥미를 느끼고 공부를 진행하고 있으나, myBatis에 비해 높은 학습곡선으로 프로젝트에 실사용은 해본 적 없음.
"/>
        </div>
      </div>
    </div>
  </div>

        <!--팝오버용 스크립트-->
        <script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
          </script>

</div>
