<div class="padding-section" id="whoIsMe" th:fragment="WhoIsMe">
        <h1 class="title">
                Who is me?
        </h1>
                <div class="row portfolio-width"><!--사진12 40-->
                        <div class="col-3"><img th:src="@{/img/증명사진흰정사각형.jpg}" id="whoIsMePhoto" class="rounded-circle w-100 m-auto"
                                style="border: 2.9px solid hsl(0deg 0% 0% / 30%);box-shadow: rgb(0 0 0 / 65%) 0px 0px 16px 0px;min-width:112px;max-width:168px;">
                        </div>
                        <div class="col">
                                <div class="row pb-4 justify-content-center"><!--프로필 첫째 줄-->
                                        <div class="col">
                                                <h4 class="fw-bold"><i class="bi bi-person-fill"></i>이름</h4>
                                                <div></div>
                                                <p>이민재</p>
                                        </div>
                                        <div class="col">
                                                <h4 class="fw-bold"><i class="bi bi-calendar-fill"></i>생년월일</h4>
                                                <div></div>
                                                <p>1995.10.14</p>
                                        </div>
                                </div>
                                <div class="row pb-4 justify-content-md-center"><!--프로필 둘째 줄-->
                                        <div class="col">
                                                <h4 class="fw-bold"><i class="bi bi-envelope-fill"></i>이메일</h4>
                                                <div></div>
                                                <p>leeniesta@naver.com</p>
                                        </div>
                                        <div class="col">
                                                <h4 class="fw-bold"><i class="bi bi-geo-alt-fill"></i>거주지</h4>
                                                <div></div>
                                                <p>부산광역시 해운대구 반여1동
                                                <br>
                                                        & 경기 부천시 상동
                                                </p>
                                        </div>
                                </div>
                        </div>
                        <div class="collapseAll" id="whoIsMeIntro"><!--간략소개-->
                                                                <button class="btn btn-secondary collapseHead" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                                        간략소개
                                                                </button>
                                                        <div class="collapse collapseBody" id="collapseExample">
                                                                <div class="card card-body">
                                                                        <p style="line-height:1.58rem;">
                                                                                안녕하세요, 풀 스택을 지향하는 꼼꼼한 개발자 이민재입니다 :)<br>
                                                                                개발 / 사진 / 그림 / 영상 편집 등 다방면으로 저만의 작품을 가질 수 있는 창의적인 활동을 좋아합니다.<br>
                                                                                온화하고 긍정적인 성격으로 주변에 밝은 에너지를 전달하고, 꼼꼼한 성격으로 개발 및 다양한 경험들에 대한 내용들을 블로그에 기록으로 남기고 있습니다 !
                                                                        </p>
                                                                </div>
                        </div>
                        </div>
                </div>

</div>

