<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/pages/portfolio/id.css}" rel="stylesheet">
    <link th:href="@{/css/pages/portfolio/class.css}" rel="stylesheet">
</head>
<main layout:fragment="content">
    <div id="portfolio">
        <div th:replace="fragments/portfolio/WhoisMe :: WhoIsMe"></div>
        <div th:replace="fragments/portfolio/Skills :: Skills"></div>
        <div th:replace="fragments/portfolio/Projects :: Projects"></div>
        <div th:replace="fragments/portfolio/FAQ :: FAQ"></div>
        <div th:replace="fragments/portfolio/Contact :: Contact"></div>
    </div>
</main>
</html>