<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/pages/portfolio/id.css}" rel="stylesheet">
    <link th:href="@{/css/pages/portfolio/class.css}" rel="stylesheet">
    <link th:href="@{/css/pages/portfolio/mobile.css}" rel="stylesheet">
</head>
<main layout:fragment="content">
    <div id="portfolio">
        <div th:replace="fragments/portfolio/WhoIsMe :: WhoIsMe"/>
        <div th:replace="fragments/portfolio/Skills :: Skills"/>
        <div th:replace="fragments/portfolio/Projects :: Projects"/>
        <div th:replace="fragments/portfolio/FAQ :: FAQ"/>
        <div th:replace="fragments/portfolio/Contact :: Contact"/>
    </div>
    <div th:replace="fragments/after :: upBtn"/>
    <div th:replace="fragments/after :: remote"/>
</main>
</html>