<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/pages/talk/id.css}" rel="stylesheet">
    <link th:href="@{/css/pages/talk/class.css}" rel="stylesheet">
</head>

<main layout:fragment="content">

    <div id="talkBackground">
        <div id="talkSection">
            <h1 class="title">
                방명록
            </h1>
            <div id="talkMain"><!--md사이즈 기준으로 글 갯수 바꾸고 디테일 조정해보기-->
                <div class="text-start border-top py-3 font-size-6"><!--테스트용 글 1개-->
                    <div class="row">
                        <div class="col-auto">
                            1 | 이민재 <br>
                            <span style="color:gray">(2012.12.27 17:31)</span>
                        </div>
                        <div class="col">
                            <pre class="mb-0" style="max-height:7.4vh;white-space: pre-wrap;">
a
b
테스트</pre>
                        </div>
                    </div>
                </div><!--테스트용 글 1개 끝-->
                <div class="text-start border-top py-3 font-size-6"><!--테스트용 글 1개-->
                    <div class="row">
                        <div class="col-auto">
                            1 | 이민재 <br>
                            <span style="color:gray">(2012.12.27 17:31)</span>
                        </div>
                        <div class="col">
                            <pre class="mb-0" style="max-height:7.4vh;white-space: pre-wrap;">
a
b
테스트</pre>
                        </div>
                    </div>
                </div><!--테스트용 글 1개 끝-->
                <div class="text-start border-top py-3 font-size-6"><!--테스트용 글 1개-->
                    <div class="row">
                        <div class="col-auto">
                            1 | 이민재 <br>
                            <span style="color:gray">(2012.12.27 17:31)</span>
                        </div>
                        <div class="col">
                            <pre class="mb-0" style="max-height:7.4vh;white-space: pre-wrap;">
a
b
테스트</pre>
                        </div>
                    </div>
                </div><!--테스트용 글 1개 끝-->
                <div class="text-start border-top py-3 font-size-6"><!--테스트용 글 1개-->
                    <div class="row">
                        <div class="col-auto">
                            1 | 이민재 <br>
                            <span style="color:gray">(2012.12.27 17:31)</span>
                        </div>
                        <div class="col">
                            <pre class="mb-0" style="max-height:7.4vh;white-space: pre-wrap;">
a
b
테스트</pre>
                        </div>
                    </div>
                </div><!--테스트용 글 1개 끝-->
                <div class="text-start border-top py-3 font-size-6"><!--테스트용 글 1개-->
                    <div class="row">
                        <div class="col-auto">
                            1 | 이민재 <br>
                            <span style="color:gray">(2012.12.27 17:31)</span>
                        </div>
                        <div class="col">
                            <pre class="mb-0" style="max-height:7.4vh;white-space: pre-wrap;">
a
b
테스트</pre>
                        </div>
                    </div>
                </div><!--테스트용 글 1개 끝-->
                <div class="row">
                    <div class="col">
                        <textarea class="form-control font-size-6" id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>
                    <div class="col-auto">
                        <!--스위치 적용이 안 되는데 나중에 해결하고 일단은 체크박스로 진행-->
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label font-size-6" for="flexSwitchCheckDefault">비밀글</label>
                            </div>
                            <input class="btn btn-secondary btn-sm w-100" type="submit" value="등록">
                        </div>
                    </div>
                    <p class="text-start text-secondary font-size-6">글자 수 : 0 / 100</p>
                    <!--페이지네이션-->
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm justify-content-end">
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</main>

</html>