<div id="upBtn" onclick="topScrollBtn()" th:fragment="upBtn">
        <img th:src="@{/img/arrow/arrowUp.png}"/>
        <script>
        function topScrollBtn() {
                window.scrollTo(0,0);
        }
        </script>
</div>

top: 28vh;
top: 47vh;

<div id="remote" th:fragment="remote" style="
top: 28vh;
    left: -0.2vw;
    position: fixed;">
        <div class="btn-group-vertical">
                <a type="button" href="#whoIsMe" class="btn" style="background:#ffffff;">Who</a>
                <a type="button" href="#skills" class="btn" style="background:#f7f6d9;">Skills</a>
                <a type="button" href="#projects" class="btn" style="background:#d9f6f7;">Projects</a>
                <a type="button" href="#FAQ" class="btn" style="background:#ddf7d9;">FAQ</a>
                <a type="button" href="#contact" class="btn" style="background:#d9e9f7;">Contact</a>
        </div>
</div>
