<div id="upBtn" onclick="topScrollBtn()" th:fragment="upBtn">
        <img th:src="@{/img/arrow/arrowUp.png}"/>
        <script>
        function topScrollBtn() {
                window.scrollTo(0,0);
        }
        </script>
</div>

top: 28vh;
top: 47vh;

<div id="remote" th:fragment="remote" style="
top: 28vh;
    left: -0.2vw;
    position: fixed;">
        <div class="btn-group-vertical">
                <a type="button" href="#whoIsMe" class="btn btnWho">Who</a>
                <a type="button" href="#skills" class="btn btnSkills" >Skills</a>
                <a type="button" href="#projects" class="btn btnProjects" >Projects</a>
                <a type="button" href="#FAQ" class="btn btnFAQ" >FAQ</a>
                <a type="button" href="#contact" class="btn btnContact" >Contact</a>
        </div>
</div>

<script th:fragment="alertWarning">
        function alertWarning() {
                document.getElementById('bodyTop').innerHTML = '<div id="alertWarning" class="alert alert-danger alert-dismissible fade show position-fixed" role="alert" style="left: 50%;transform: translateX(-50%);top: 7vh;z-index:1;"><b>아직 구현되지 않은 페이지입니다. 조금만 기다려주세요!</b><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="alertWarningClose()"></button></div>';
                document.getElementById('bodyTop').style.opacity = "100%";
        }
        function alertWarningClose() {
                document.getElementById('bodyTop').style.opacity = "0%";
        }
</script>

7vh
13.5vh