<nav th:fragment="pagination" aria-label="...">
    <ul class="pagination pagination-sm justify-content-end">
<!--        <li th:if="pageMaker.isPrev() == true" class="page-item">-->
<!--            <a class="page-link" th:href="@{/talk?page={page}(page=${pageMaker.startPage-1 })}" aria-label="Previous">-->
<!--                <span aria-hidden="true">&laquo;</span>-->
<!--            </a>-->
<!--        </li>-->
        <li th:with="start=${pageMaker.startPage}, end=${pageMaker.endPage}"
            th:each="pageNum : ${#numbers.sequence(start, end)}"
            class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
<!--        <li th:if="pageMaker.isNext() == true && pageMaker.endPage > 0" class="page-item">-->
<!--            <a class="page-link" th:href="@{/talk?page={page}(page=${pageMaker.endPage+1 })}" aria-label="Next">-->
<!--                <span aria-hidden="true">&raquo;</span>-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</nav>
