#upBtn >img {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 6.5vh;
  right: 1vw;
  cursor: pointer;
  z-index: 999999999999;
  border-radius: 100%;
  box-shadow: rgb(0 0 0 / 20%) 5px 5px 20px 0px;
}

#upBtn > img:hover {
  box-shadow: rgb(0 0 0 / 20%) 5px 5px 20px 3px;
}
