#header {
  height: 6vh;
  min-height: 32px;
  max-height: 48px;
    background: hsl(0deg 0% 11%) !important;
}

#footer {
  height: 5vh;
  width: 100%;
  min-height: 32px;
    background: hsl(0deg 0% 11%) !important;
  color: white;
  white-space: nowrap;
}

#remote {
  top: 27.7vh;
  left: -0.2vw;
  position: fixed;
}

#upBtn > img {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 6.9vh;
  right: 1vw;
  cursor: pointer;
  z-index: 1040;
  border-radius: 100%;
  box-shadow: rgb(0 0 0 / 20%) 5px 5px 20px 0px;
}

#upBtn > img:hover {
  box-shadow: rgb(0 0 0 / 20%) 5px 5px 20px 3px;
}
