#headerRight > a > .bi {
  margin-right: 0.5rem;
}

.mp-reset {
  margin: 0px !important;
  padding: 0px !important;
}

.title {
  text-align: center;
  padding-top: 2rem !important;
  margin-bottom: 2rem !important;
  color: black;
  font-family: "Black Han Sans", "Noto Sans KR", sans-serif;
}

.padding-section {
  padding-bottom: 60px !important;
}

.portfolio-width{
    min-width:560px;
    max-width:894px;
    margin:0 auto;
}

.btn-group-vertical > a{
    font-weight: bold;
    color:hsl(0deg 0% 31.1%);
    text-align:start;
    box-shadow: none!important;
    border-color: hsl(0deg 0% 36% / 99%);
}

.btn-group-vertical > a:hover, .btn-group-vertical > a:focus{
    color:hsl(0deg 0% 0%);
}

.navbar-nav > .nav-item > .nav-link:hover, .navbar-nav > .nav-item > .nav-link:focus {
    color: rgb(255 255 255 / 99%);
}