<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/pages/index/id.css}" rel="stylesheet">
    <link th:href="@{/css/pages/index/class.css}" rel="stylesheet">
</head>

<main layout:fragment="content">
    <div class="position-relative w-100" style="height: 89vh;" id="home">
        <div class="text-center position-absolute top-50 start-50 translate-middle">
            <h1 style="color:white;font-family: 'Black Han Sans','Noto Sans KR', sans-serif;">Where is here?</h1>
            <p class="mb-3" style="font-weight:300;color:white;">
                안녕하세요, 풀 스택을 지향하는 꼼꼼한 개발자 이민재입니다!<br>
                이 사이트는 포트폴리오의 목적으로 만들어졌으나, 개인 창작물 전시 / 간단한 소통이 가능한 블로그의 성격도 같이 띄고 있습니다.<br>
                편안하게 구경하다 가셨으면 좋겠습니다 :)
            </p>
            <a type="button" class="btn btn-danger rounded-pill my-1 font-size-6 shadow" href="portfolio">포트폴리오 보러가기</a><br>
            <a type="button" class="btn btn-success rounded-pill my-1 font-size-6 shadow" onclick="alertWarning()">창작물 보러가기</a><br>
            <a th:if="${session.login == null}" type="button" class="btn btn-primary rounded-pill my-1 font-size-6 shadow" data-bs-toggle="modal" href="#modalLogin">소통 하러가기</a>
            <a th:if="${session.login != null}" type="button" class="btn btn-primary rounded-pill my-1 font-size-6 shadow" href="talk">소통 하러가기</a>
        </div>
    </div>
</main>

</html>