@media (max-width: 1080px) {
  #home {
    position: relative;
    height: 95.4vh;
  }

  #home:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://cdn.pixabay.com/photo/2022/01/09/22/50/model-6927121_960_720.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
  }
}
