#talkBackground {
  position: relative;
  height: 89vh;
}
#talkBackground:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://cdn.pixabay.com/photo/2019/08/14/15/15/macbook-4405973_960_720.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}
#talkSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  width: 50vw;
  min-width: none;
  max-width: 760px;
  max-height: 80vh;
  background: white;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 40%) 10px 10px 20px 0px;
}
#talkMain {
  margin: auto;
  width: 45vw;
  max-width: 684px;
}
.is-valid {
  border-color: #ced4da !important;
  background: white !important;
  box-shadow: none !important;
}
